.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem 0;
  background-color: #02364b;
}

.footer__content {
  display: flex;
  justify-content: flex-start;
  padding: 0 2rem;
  gap: 1rem;
  color: #fff;
  flex-wrap: wrap;
}
