.home {
  color: #fff;
  margin: 6rem 2rem;
}

.home__heading {
  text-align: center;
  background-color: #fff;
  color: #04658b;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 2px 2px 0 2px #04658bcc;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.home__heading:hover {
  transform: scale(1.01);
}

.home__heading-quote {
  text-align: left;
}

.home__heading-by {
  text-align: right;
}

.home__divider {
  height: 2px;
  width: 100%;
  color: #fff;
  border-bottom: 2px solid #fff;
  margin: 1rem 0;
}

.home__today {
  background: #04658b;
  padding: 1rem 0;
  text-align: center;
}

.home__today-empty h3 {
  font-size: 1.5rem;
  font-weight: 900;
}

.home__compose {
  border: none;
  outline: none;
  padding: 0.75rem;
  margin-top: 0.75rem;
  font-size: 1.3rem;
  border-radius: 7px;
  color: #04658b;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  opacity: 0.8;
}

.home__compose:hover {
  opacity: 1;
}

.home__today-entries {
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
  margin: 2rem 0;
  border-radius: 10px;
}

.home__today-entry {
  width: 320px;
  /* border: 1px solid #fff; */
  background-color: #024c69cc;
  box-shadow: 0 0 5px 0 #000000aa;
  padding: 0.3rem;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.home__today-entry:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 768px) {
  .home__today {
    padding-right: 1rem;
  }
}

@media screen and (min-width: 900px) {
  .home__heading {
    margin: auto;
    width: 50%;
  }
}

@media screen and (max-width: 550px) {
  .home__today-entry {
    width: 300px;
  }
}
