.posts {
  padding: 0.5rem 2rem;
  /* background-color: #04658b; */
  margin: 6rem 0;
  margin-bottom: 7rem;
}

.posts__by-dates {
  display: flex;
  margin: 0.5rem;
  gap: 1rem;
  color: #fff;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.posts__by-dates::-webkit-scrollbar {
  display: none;
}

.posts__by-dates_date {
  background: #024f6d;
  padding: 0.3rem;
  border-radius: 10px;
  border: 1px solid #04658b;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.posts__by-dates_date:hover {
  background-color: #04658b;
}

.posts__entries {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
}

.posts__entries-entry {
  position: relative;
  width: 330px;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  text-align: justify;
  background-color: #04658b;
  color: #fff;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 0 0 2px #04658baa;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.posts__entries-entry:hover {
  transform: scale(1.05);
}

.posts__entries-entry_id {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #0548c5;
  padding: 1rem;
  color: #fff;
  font-style: italic;
  font-weight: bold;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.posts__entries-view {
  background-color: #fff;
  color: #04658b;
  width: fit-content;
  text-align: center;
  padding: 0.5rem 0.5rem;

  border-radius: 5px;
}
