.App {
  position: relative;
}

.app__compose {
  position: fixed;
  background-color: #fff;
  right: 40px;
  top: 550px;
  z-index: 10000;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  padding: 0.5rem;
  border: 2px solid #012938;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.app__compose:hover {
  opacity: 0.6;
  transform: scale(1.1);
}

.app__compose svg {
  width: 40px;
  height: 40px;
  color: #04658b;
}
